---
name: deploy to gh pages

on:
  push:
    branches:
      - main
    paths:
      - pages/**

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    uses: techtales-io/github-workflows/.github/workflows/deploy-gh-pages.yaml@6b766743dd15ea7cfcb14c83f2fbc35062435d0f # v0.3.0
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      runner: ubuntu-latest
      environment: github-pages
      path: pages
